.box {
  position: relative;
  display: block;
  margin: 1rem;
  width: 100px;
  height: 100px;
  background-color: #000000;
  // animation: move-left 1.5s ease-in-out;
}

// @keyframes move-left {
//   from {
//     opacity: 0;
//     transform: translateX(1000px);
//   }
//   to {
//     opacity: 1;
//     transform: translateX(0);
//   }
// }
